@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap');


.containerRegistro{
    background-image: url('src/assets/imagenes/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center; 
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.section {
    /*background-color: #4D616C;*/
    background-color: rgba(77, 97, 108, 0.4);
    align-items: center;
    border: 3px solid #4D616C;
    display:inline;
    justify-content: center;
    border-radius: 15px;
    width: 25%;
    margin-bottom: 0%;
    height: 80%;
}

.registro {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: white;
    margin-bottom: 0px;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Alinea los elementos verticalmente */
    height: 100%;
}

.divNombre, .divMail, .divContrasenya, .DivRepeatPwd {
    margin-bottom: 15px;
    width: 90%;
    height: 10%;
    justify-content: center;
}

.cNombre, .cMail, .cContrasenya, .cRepeatPwd  {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: white;
}

.divInNom, .divInMail, .divInPwd, .divInRepeat {
    /*background-color: rgba(193, 229, 255, 0.62);*/
    background-color: rgba(193, 229, 255, 0.62);
    border-radius: 15px;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 60%;
    display: flex;
}

.inNom, .inMail, .inPwd, .inPwd2 {
    /*background-color: transparent;*/
    background-color: transparent;
    border: none;
    outline: none;
    width: 90%;
    border-radius: 15px;
    color: #2D3540;
    height: 90%;
    margin-left: 0%;
}

.iconoOjosPassword{
    background-color: transparent;
    border: none;
    color: #2D3540;
    
}

.icono{
    width: 90%;
    height: 90%;
}

.btnCrear{
    color: white;
    background-color: #4D616C;
    outline: none;
    border: 2px solid transparent;
    width: 80%;
    height: 15%;
    border-radius: 20px;
    font-family: 'Manrope';
    font-size: 32px;
    font-weight: 400;
}

.txt  {
    color: white;
}

.btnIniciar{
    background-color: transparent;
    outline: none;
    border: 2px solid transparent;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
}

.divFinal {
    display: flex;
}